  @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,400;1,100&family=Open+Sans:ital,wght@0,300;0,500;0,700;1,400;1,500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    
}

body{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
}

main{
    background-color: aliceblue;
    border-radius: 5px;
    padding: 20px;
    width: 90%;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5); /* Define a cor de fundo com transparência */
    backdrop-filter: blur(10px);    
}

.add-form{
    display: flex;
    margin-bottom: 50px;
    gap: 15px;
    width: 100%;

}

input{
    width: 100%;
    flex: 1;
    padding: 15px;
    border: 1px solid #949494 ;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

button[type="submit"]{
    background-color: #406876;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

table{
    border-collapse:collapse ;
    width:100%;

}

td,th{
    padding: 10px 15px;
    border: 2px solid #000000;
    text-align: center;
    border-style: ridge; 
}

td{
    color: rgb(31, 31, 31);
    font-weight: 600;
}

tr:nth-child(even){
    background-color: #d9d9d9;
}

select{
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #eceaea;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

}

select:hover{
    transition: all 1s ease;
    background-color: #cccccc;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}
option{
    background-color: #d9d9d9;

}

.btn-action{
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: #c1c1c1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn-action:nth-child(1){
    background-color: bisque;
    margin-right: 5px;
}

.btn-action:nth-child(2){
    background-color: rgba(237, 43, 0, 0.575);
    margin-right: 5px;
}

/*                              */

.custom-select {
    position: relative;
    width: 200px;
    cursor: pointer;
  }
  
  .select-selected {
    background-color: rgba(240, 248, 255, 0.629);
    padding: 10px;
    transition: background-color 0.3s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 2px;
}
  
  .select-items {
    position: absolute;
    background-color: #fff;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    border-radius: 10px;
    /* max-height: 200px; 
    overflow: auto;  */

  }
  
  .select-items div {
    padding: 10px;
  }
  
  .select-items div:hover {
    background-color: #b8b8b8;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  
  .open {
    max-height: 200px;
  }

  #clock {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: right;
    margin-bottom: 40px;
    font-weight: bold;
  }
  